.post {
   background-color: white;
   border: 1px solid lightgray;
   width: 450px;
   margin-bottom: 45px;
   margin-left: auto;
   margin-right: auto;
   border-radius: 3px;
   display: flex;
   flex-direction: column;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.header-nouser{
   display: flex;
   align-items: center;
   padding: 15px;
   padding-left: 10px;
   border-bottom: 1px solid lightgray;
}
.header {
   display: flex;
   align-items: center;
   padding: 15px;
   padding-left: 10px;
   border-bottom: 1px solid lightgray;
   justify-content: space-between;
}
.avatar {
   margin-right: 10px;
}
.post_image {
   object-fit: contain;
   height: 100%;
   width: 100%;
   transition: transform 0.2s ease-in-out;
}
.post_image:hover {
   transform: scale(1.04);
}
.post_caption {
   margin: 10px;
}
.comment_form {
   display: flex;
   border-top: 1px solid lightgray;
}
.comment_input {
   flex: 1;
   border: none;
   padding: 20px;
}
.comment_input:focus {
   outline: none;
}
.comment_button {
   flex: 0;
   background-color: white;
   padding: 10px;
   border: none;
   font-weight: bold;
   color: hsl(214, 53%, 49%);
}
.comment_post {
   padding: 10px 0px 10px 20px;
}
.comment_post::-webkit-scrollbar {
   display: none;
 }
.comment_post > p {
   margin-bottom: 0px;
}
.comment_text {
   color: gray;
   margin-left: 10px;
   font-size: 20px;
   margin-bottom: -2px;
}
.button {
   border: none;
   width: 600px;
   height: 50px;
   font-size: 20px;
}
.post_modal {
   padding: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.modal {
   margin-left: auto;
}
.post_container {
   overflow: hidden;
}
.postUsername {
   margin-right: 4px;
}
@media screen and (max-width: 850px) {
   .post{
      max-width:350px;
      margin-bottom: 15px;
   }
}
